.com-content{
	width: 1200px;
	height: auto;
	margin: 40px auto 0;
	color: #333;
	overflow: hidden;
}
.com-content h3{
	height: 16px;
	width: 100%;
	font-size: 14px;
	line-height: 16px;
}
.com-content .my-com{
	width: 100%;
	height: auto;
	padding-top: 10px;
	font-size: 12px;
	border-top: 1px solid #a3a3a3;
	border-bottom: 1px solid #a3a3a3;
	overflow: hidden;
}
.my-com .pro-info{
	float: left;
	width: 162px;
	height: auto;
	text-align: center;
	overflow: hidden;
}
.my-com .pro-info h4{
	width: 100%;
	height: 32px;
	line-height: 34px;
}
.my-com .pro-info .pro-img{
	width: 160px;
	height: 160px;
	border: 1px solid #ccc;
}
.my-com .pro-info .pro-img img{
	width: 100%;
}
.my-com .pro-info .pro-name{
	width: 142px;
	margin: 5px 10px 20px;
	line-height: 14px;
}
.my-com .com-type{
	float: left;
	width: 480px;
	height: auto;
	margin: 34px 78px 0;
	overflow: hidden;
}
.my-com .com-type .level{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.com-type .level li{
	float: left;
	width: 66px;
	height: 33px;
	margin-left: 141px;
}
.com-type .level li:nth-of-type(1){
	margin-left: 0px;
}
.com-type .level li span{
	float: left;
	width: 19px;
	height: 19px;
	margin-top: 7px;
	background: url(../img/round.png) no-repeat;
}
.com-type .level li.active span{
	background: url(../img/round1.png) no-repeat;
}
.com-type .level li img{
	width: 32px;
	margin-left: 13px;
	vertical-align: bottom;
}
.com-type p{
	width: 100%;
	margin: 30px 0 5px;
	line-height: 20px;
	color: #666;
}
.com-type .com-stars{
	float: left;
	width: 220px;
	height: auto;
	overflow: hidden;
}
.com-type .com-stars li{
	width: 100%;
	line-height: 26px;
}
.com-type .com-stars .com-star{
	float: right;
	width: 160px;
	height: 20px;
	margin-top: 3px;
}
.com-type .com-stars .com-star img{
	float: left;
	width: 22px;
	height: 20px;
	margin: 0 5px;
}
.com-type .com-img{
	float: left;
	width: 230px;
	height: 62px;
	margin-left: 30px;
	line-height: 62px;
}
.com-type .com-img span{
	float: left;
	height: 100%;
}
.com-type .com-img label{
	float: left;
	width: 68px;
	height: 60px;
	margin: 0 10px;
	border: 1px solid #9a9a9a;
	background: url(../img/photo.png) no-repeat center center;
	cursor: pointer;
}
.com-type .com-img label input{
	display: none;
	float: left;
	width: 100%;
	height: 100%;
}
.com-type .com-img i{
	float: left;
	width: 68px;
	height: 60px;
	margin-left: 10px;
	font-size: 14px;
	line-height: 60px;
	text-align: center;
	border: 1px solid #9a9a9a;
}

.my-com .com-txt{
	float: left;
	width: 402px;
	height: auto;
	margin-top: 24px;
	overflow: hidden;
}
.my-com .com-txt p{
	height: 32px;
	line-height: 32px;
}
.my-com .com-txt textarea{
	width: 390px;
	height: 128px;
	padding: 0 5px;
	font-size: 12px;
	line-height: 20px;
	text-align: justify;
}
.my-com .com-txt input{
	display: block;
	width: 90px;
	height: 30px;
	margin: 10px auto 0;
	background: #eea615;
	font-size: 12px;
}