.com-content{
	width: 1200px;
	height: auto;
	margin: 40px auto 0;
	overflow: hidden;
}
.com-content h3{
	height: 16px;
	width: 100%;
	font-size: 14px;
	line-height: 16px;
}
.com-content .my-com{
	width: 100%;
	height: auto;
	border-top: 1px solid #a3a3a3;
	border-bottom: 1px solid #a3a3a3;
}
