.order-steps{
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #d9d9d9;
}
.order-steps p{
	float: left;
	font-size: 18px;
	line-height: 80px;
}
.order-steps .steps{
	float: right;
	width: 650px;
	height: 36px;
	margin-top: 22px;
}
.order-steps .steps li{
	float: left;
	width: 170px;
	height: 36px;
	margin-left: -18px;
	font-size: 14px;
	line-height: 36px;
	text-align: center;
}
.order-steps .steps li a{
	display: block;
}
.order-steps .steps li.step1{
	margin-left: 0px;
	background: url(../img/confirmBG1.png) no-repeat;
}
.order-steps .steps li.step2{
	width: 190px;
	background: url(../img/confirmBG2.png) no-repeat;
}
.order-steps .steps li.step3{
	color: #fff;
	background: url(../img/confirmBG31.png) no-repeat;
}
.order-steps .steps li.step4{
	margin-left: -16px;
	background: url(../img/confirmBG4.png) no-repeat;
}
.pay-info{
	width: 1000px;
	height: auto;
	margin: 20px 0;
	padding: 8px 100px;
	background: #1a1a1a;
	overflow: hidden;
}
.pay-info p{
	width: 100%;
	height: 34px;
	font-size: 14px;
	color: #fefefe;
	line-height: 34px;
}
.pay-info p span{
	float: right;
}
.pay-info p em{
	color: #e5121d;
}
.pay-info p .countdown{
	margin: 0 4px;
	color: #eea615;
}
.pay-info p a{
	float: right;
	color: #fefefe;
}
.pay-info p a:hover{
	color: #eea615;
}
.my-pay{
	width: 998px;
	height: auto;
	padding: 28px 100px;
	border: 1px solid #999;
	overflow: hidden;
}
.my-pay .pay-list{
	width: 100%;
	height: 31px;
	border-bottom: 1px solid #999;
}
.my-pay .pay-list li{
	float: left;
	width: 90px;
	height: 32px;
	margin-right: 30px;
	font-size: 12px;
	line-height: 32px;
	color: #333;
	cursor: pointer;
}
.my-pay .pay-list li span{
	float: left;
	width: 16px;
	height: 16px;
	margin: 8px 3px 0 12px;
}
.my-pay .pay-list li.active{
	color: #fff;
	background: #eea615;
}
.my-pay .pay-list li.active span{
	background: url(../img/onlinebank.png) no-repeat;
}
.my-pay .pay-list li:hover{
	color: #fff;
	background: #eea615;
}
.my-pay .pay-list li:hover span{
	background: url(../img/onlinebank.png) no-repeat;
}
.my-pay .pay-banks{
	width: 100%;
	height: auto;
	margin: 36px 0 40px;
	overflow: hidden;
}
.my-pay .pay-banks li{
	float: left;
	width: 180px;
	height: 56px;
	margin: 20px 92px 20px 0;
	line-height: 56px;
	text-align: center;
	background: url(../img/bankbd0.png);
}
.my-pay .pay-banks li:nth-of-type(4n){
	margin-right: 0;
}
.my-pay .pay-banks li.active{
	background: url(../img/bankbd1.png);
}
.pay-ok{
	width: 100%;
	height: auto;
	padding-top: 30px;
	overflow: hidden;
}
.pay-ok p{
	margin-left: 100px;
	font-size: 12px;
	line-height: 30px;
	color: #333;
}
.pay-ok p span{
	float: left;
	width: 14px;
	height: 14px;
	margin: 8px 5px 0 0;
	background: url(../img/payok.png) no-repeat;
}
.pay-ok p.pass-list{
	height: 44px;
	margin-bottom: 15px;
	line-height: 22px;
}
.pay-ok p.pass-list input{
	float: left;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border: 1px solid #333;
	border-right: 0;
}
.pay-ok p.pass-list input:last-of-type{
	margin-right: 9px;
	border-right: 1px solid #333;
}
.pay-ok p.pass-list a{
	width: ;
}
.pay-ok p.pass-list i{
	display: block;
}
.pay-ok .btn-payok{
	width: 90px;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	color: #fefefe;
	background: #eea615;
	cursor: pointer;
}