.user-center{
	float: left;
	width: 1060px;
	height: auto;
	margin-top: 66px;
	overflow: hidden;
}
.user-center .user-info{
	width: 100%;
	height: 100px;
	padding: 15px 0;
	color: #fefefe;
	background: #2c2619;
}
.user-info .user{
	float: left;
	width: 350px;
}
.user-info .user img{
	float: left;
	width: 96px;
	height: 96px;
	margin: 0 16px;
}
.user-info .user p{
	float: left;
	width: 210px;
	height: 34px;
	margin-left: 5px;
	font-size: 12px;
	line-height: 34px;
}
.user-info .user p.username{
	margin-top: 15px;
	font-size: 14px;
}
.user-info .user p i{
	float: left;
}
.user-info .user p span{
	float: left;
	width: 32px;
	height: 8px;
	margin: 14px 1px 0 0;
	background: #fff;
}
.user-info .user p span:nth-of-type(1){
	background: #e5121d;
}
.user-info .user p em{
	float: left;
	margin: 0 5px;
}
.user-info .user p a{
	float: left;
	margin-left: 5px;
	color: #e5121d;
}
.user-info .account{
	float: left;
	width: 310px;
}
.user-info .account p{
	width: 310px;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}
.user-info .account p:nth-of-type(1){
	margin-top: 12px;
} 
.user-info .ordertype{
	float: left;
	width: 260px;
	height: 72px;
	margin-top: 10px;
}
.user-info .ordertype p{
	float: left;
	width: 130px;
	height: 36px;
	font-size: 12px;
	line-height: 36px;
}
.user-info .ordertype p img{
	margin-right: 15px;
}
.user-info .ordertype p span{
	margin-left: 6px;
}
.user-center .my-order{
	float: left;
	width: 100%;
	height: auto;
	margin-top: 20px;
	overflow: hidden;
}
.user-center .my-order p{
	font-size: 14px;
	line-height: 16px;
}
.user-center .my-order .order-table{
	width: 100%;
	height: auto;
	padding-left: 50px;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	overflow: hidden;
}
.my-order .order-table tr{
	font-size: 12px;
	color: #333;
}
.my-order .order-table th{
	height: 32px;
	line-height: 32px;
}
.my-order .order-table td{
	height: 54px;
	padding: 20px 0 10px 0;
	vertical-align: text-top;
}
.my-order .order-table th:nth-of-type(1),.my-order .order-table td:nth-of-type(1){
	width: 90px;
	padding-left: 50px;
	text-align: center;
}
.my-order .order-table th:nth-of-type(2),.my-order .order-table td:nth-of-type(2){
	width: 210px;
	padding-right: 90px;
}
.my-order .order-table th:nth-of-type(3),.my-order .order-table td:nth-of-type(3){
	width: 100px;
	padding-right: 80px;
	line-height: 18px;
}
.my-order .order-table th:nth-of-type(4),.my-order .order-table td:nth-of-type(4){
	width: 100px;
	padding-right: 100px;
}
.my-order .order-table th:nth-of-type(5),.my-order .order-table td:nth-of-type(5){
	width: 100px;
	padding-right: 100px;
}
.my-order .order-table td:nth-of-type(5){
	color: #e5121d;
}
.my-order .order-table td:nth-of-type(3){
	/*padding-bottom: 30px;*/
}
.my-order .order-table img{
	width: 61px;
	height: 54px;
}